
<div><%= button_to "Queue", queues_index_path, class: 'queue_button' %></div>


<div class="search_form">
  <%= form_tag(search_path) do %>
  <%= label_tag(:title, "Search for a Museum") %>
    <%= text_field_tag :title, params[:title] %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>



<%= inline_svg "museume.svg", class: 'svg-class' %>
