<div><%= button_to "Queue", queues_index_path %></div>



<%= form_tag(search_path) do %>
<%= label_tag(:title, "Search for a Museum") %>
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search' %>
<% end %>
